mixin card(article, slug)
    if article
        section.article-thumb
            h1
                a(ui-sref="article({slug: '#{slug}'})")
                    | #{article.title}
            ul.article-thumb-meta.list-inline-responsive
                li.date
                    i.fa.fa-fw.fa-clock-o
                    | {{ '#{article.date}' | date }}
                li.read-time
                    i.fa.fa-fw.fa-bookmark
                    | #{article.minutes} min read
            if article.intro
                div.article-intro
                    !{article.intro}

                    span.article-read-more
                        i.fa.fa-fw.fa-angle-right
                        a(ui-sref="article({slug: '#{slug}'})") read more
            ul.article-thumb-tags.list-inline-responsive
                each tag in article.tags
                    li
                        i.fa.fa-fw.fa-tags
                        | #{tag}



section.articles-index
    .container
        .row
            .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2

                each article, slug in public.components.articles._data
                    +card(article, slug)
